* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
}

span {
  margin: 20px 0;
  display: block;
  text-align: left;
}

a {
  padding-left: 25px;
}

footer {
  text-align: center;
  line-height: 2.5em;
}

p {
  width: 400px;
  margin: auto;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 20px 20px 75px 20px;
  text-align: left;
}