* {
  font-family: Georgia, serif;
}

body {
  background-color: Linen;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 3.5em;
  line-height: .75em;
  text-align: center;
  font-weight: bold;
}

h2 {
  text-align: center;
}

a:visited {
  color: Crimson;
}

a:hover {
  font-weight: bold;
}

a:active {
  text-decoration: none;
  font-weight: normal;
}

footer {
  text-align: center;
  line-height: 2.5em;
}

.bottom {
  font-size: 1.25em;
  padding-bottom: 50px;
}

hr, .carousel-indicators li {
  border-color: Black;
}

.carousel-indicators .active {
  background-color: Black;
}

.item {
  text-align: center;
}

.warning {
  font-family: Georgia, serif;
  font-weight: bold;
  font-style: italic;
  background-color: FireBrick;
  color: White;
  margin: auto;
  width: 75%;
}