* {
  text-align: center;
}

ul {
  list-style-position: inside;
  margin-left: 15%;
}

li {
  text-align: left;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 70%;
  margin-bottom: 40px;
}

th {
  background-color: lightGrey;
}