* {
  text-align: center;
}

ul {
  list-style-position: inside;
  margin-left: 15%;
}

li {
  text-align: left;
  font-style: italic;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 70%;
  margin-bottom: 40px;
}

th {
  background-color: lightGrey;
}

.bgimage {
  background: url("http://www.greenriverordinance.com/wp-content/images/cover.jpg") no-repeat scroll top center;
  height: 325px;
}

.newFont {
  font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: .15em;
}