* {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

body {
  background-color: Linen;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 3.5em;
  line-height: .75em;
  text-align: center;
  font-weight: bold;
}

a:visited {
  color: Crimson;
}

a:hover {
  font-weight: bold;
}

a:active {
  text-decoration: none;
  font-weight: normal;
}

footer {
  text-align: center;
  line-height: 2.5em;
}